.navbar {
  width: 100%;
  &-brand {
    display: flex;
    align-items: center;
    a{
      color:#000;
      text-decoration: none !important;
      &:hover{
        color:#000;
      }
    }
    // name
    span:nth-of-type(1) {
      font-size: 1.3rem;
      font-weight: 700;
      padding-right: 5px;
      &::before {
        content: "";
        width:1rem;
        height:1rem;
        display: inline-block;
        background-color: #4564f6;
        margin-right: 0.7rem;
        margin-top: 2px;
      }
    }
    // job
    span:nth-of-type(3) {
      font-weight: 300;
      padding-left: 5px;
    }
  }
  // links
  .nav-link {
    transition: 0.3s ease;
    font-weight: 300;
    &:hover {
      color: #4564f6 !important;
    }
  }
}

// Navbar media query
@media screen and (max-width: 576px) {
  // Toggler Button
  .navbar-toggler {
    margin: auto;
    outline: none !important;
  }
  // name-job
  .navbar-brand {
    flex-direction: column;
    span {
      display: block;
      width: 100%;
    }
    span:nth-of-type(2) {
      display: none;
    }
  }
}
